<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <!-- Appender to client file -->
        <File name="ClientLogFile" fileName="${sys:user.home}/Desktop/client.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- Appender to server file -->
        <File name="ServerLogFile" fileName="${sys:user.home}/Desktop/server.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- Appender to console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger for PlaneClient package -->
        <Logger name="client" level="info" additivity="false">
            <AppenderRef ref="ClientLogFile"/> <!-- Only warn and up to file client.log -->
            <AppenderRef ref="Console"/> <!-- All levels in console-->
        </Logger>

        <!-- Logger for server package -->
        <Logger name="server" level="info" additivity="false">
            <AppenderRef ref="ServerLogFile"/> <!-- Only warn and up to file server.log -->
            <AppenderRef ref="Console"/> <!-- All levels in console-->
        </Logger>

        <!-- Logger for collision package -->
        <Logger name="collision" level="info" additivity="false">
            <AppenderRef ref="ServerLogFile"/> <!-- Only warn and up to file server.log -->
            <AppenderRef ref="Console"/> <!-- All levels in console-->
        </Logger>

        <!-- Logger for handler classes -->
        <Logger name="handler" level="info" additivity="false">
            <AppenderRef ref="ServerLogFile"/> <!-- Only warn and up to file server.log -->
            <AppenderRef ref="Console"/> <!-- All levels in console-->
        </Logger>

        <!-- Logger for airport classes -->
        <Logger name="airport" level="info" additivity="false">
            <AppenderRef ref="ServerLogFile"/> <!-- Only warn and up to file server.log -->
            <AppenderRef ref="Console"/> <!-- All levels in console-->
        </Logger>

        <!-- Root logger for all classes -->
        <Root level="info">
            <AppenderRef ref="Console"/> <!-- All logs printed in console -->
        </Root>
    </Loggers>
</Configuration>